body {
    background-color: lightblue;
   text-align: center;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
    padding: 50px;
  }

.intro {
    padding-bottom: 100px;
}


  .center
  {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }

  th {
    text-decoration: underline;
  }